@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="        background-image: url(https://bolnews.s3.amazonaws.com/wp-content/uploads/2020/04/a-114.jpg)">
        <h1 style="color:black">Delivery APP </h1>
        <p style="color:black" class="lead">Food delivery app is an app</p>
        <p style="color:black">to use for ordering food from</p>
        <p style="color:black"> different restaurants and get</p> 
        <p style="color:black">delivred to your door.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get Startde</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2 style="color:forestgreen"class="font-weight-bold"">All restaurants</h2>
            <p style="color:black">
                Click to see restaurant near you!
            </p>
            <p><a class="btn btn-danger" " href="https://go.microsoft.com/fwlink/?LinkId=301865">See Restaurants</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="color:forestgreen"class="font-weight-bold">Order Now</h2>
            <p style="color:black">Click to order</p>
            <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301866">Order Now</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="color:forestgreen"class="font-weight-bold">Delivery Options</h2>
            <p style="color:black">Click to see delivery options.</p>
            <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">See Options</a></p>
        </div>
    </div>
