@model IEnumerable<Kabylia.Models.Menu.MenuListItem>

@{
    ViewBag.Title = "BigMac";
}


<div class="col-md-4 text-center align-content-lg-center">
    <h4>Big Mac</h4>
    <img src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/nutrition/items/regular/desktop/t-mcdonalds-Premium-Roast-Iced-Coffee-Medium.jpg?$Category_Desktop$" alt="pic1" border="0" style="width:300px;height:300px">

    <div> <a href="https://localhost:44308/Restaurant/Details/1">MacDonald's</a></div>
</div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

    <tr>
        <td>
            <p>$5.99</p>
        </td>
        <td>
            <p>
                Mouthwatering perfection starts with two 100% pure beef patties and Big <br />Mac sauce sandwiched between a sesame seed bun.
                It's topped off with pickles, <br />crisp shredded lettuce, finely chopped onion and American cheese.
            </p>
        </td>


    </tr>

</table>
<p>
    @Html.ActionLink("Back", "Index", "Home")
</p>
